<!-- Head Partial -->
<!-- This Partial is the head of the website, where all the Stylesheets and Scripts are linked -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <!-- Icon Kit -->
    <script src="https://kit.fontawesome.com/ea20719252.js" crossorigin="anonymous"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- Page Title -->
    <title> {{ page.title }} - {{ site.title }}</title>
</head>